# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Study\College Study Work\Semester 5\DS\Assignments\Assignment06 - TOPSIS\TOPSIS-ParthArora-101853039\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
